<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>PEC SportoCrats</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'aboutus.css' %}">
    </head>
    <body>
        <header class="header1 can group">
            <h1 class="logo">
                {% load static %}
                <a href="main1.html" ><img src="{%static 'Pec1.png'%}"
                    alt="Image of logo" height="80px" width="125px">&nbspPEC SportoCrats</a>
            </h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h3 class="tag">Chandigarh,India</h3>
            <br>
            <nav class="nav nav1 hi b">
                &emsp;&emsp;&emsp;<a href="main1.html">Home</a>&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;<a href="register.html">Register</a>&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;<a href="announce.html">Announcements</a>&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;<a href="aboutus.html">About Us</a>&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;<a href="contactus.html">Contact Us</a>&emsp;&emsp;&emsp;
            </nav>
        </header>
        <br>
        <br>


        <img class="im" src="{%static 'cr.jpg'%}" style="width: 350px; height: 200px; position: absolute; top: 200px; left: 925px;">
        <img class="im" src="{%static 'tt.jpg'%}" style="width: 350px; height: 200px; position: absolute; top: 460px; left: 925px;">
        <img class="im" src="{%static 'ath.jpg'%}" style="width: 350px; height: 180px; position: absolute; top: 740px; left: 925px;">
        <img class="im" src="{%static 'ftb.jpg'%}" style="width: 350px; height: 180px; position: absolute; top: 980px; left: 925px;">
        <img class="im" src="{%static 'ch.jpg'%}" style="width: 350px; height: 200px; position: absolute; top: 1220px; left: 925px;">
        <img class="im" src="{%static 'bm.webp'%}" style="width: 350px; height: 180px; position: absolute; top: 1470px; left: 925px;">
        <img class="im" src="{%static 'bk.webp'%}" style="width: 350px; height: 200px; position: absolute; top: 1710px; left: 925px;">
        


        <!-- Section about games-->
        <section class="grid">
            <h3 class="space">
                Cricket
            </h3>
            <h3 class="tag2"><a class="butn butn-alt bk" href="register.html">Register</a></h3>
            <br>
            <p>About cricket in PEC</p>
            <hr width="68%" align="left">
            <br>
            <pre>Matting Cricket Wicket is available where various cricket tournaments like 
Inter Year, Inter Department, Inter Engineering Deemed University and other
tournaments are organised. 3 Net Practice Wickets are also available.</pre>
            <br>
        </section>
        <br>
        
        <section class="grid">
            <h3 class="space">
                Table Tennis
            </h3>
            <h3 class="tag2"><a class="butn butn-alt bk" href="register.html">Register</a></h3>
            <br>
            <p>About table tennis in PEC</p>
            <hr width="68%" align="left">
            <br>
            <pre>Table tennis is a sport in which two or four players hit a lightweight ball 
back and forth using a table tennis racket on a hard table divided by a net 
at the middle. The Institute has a wide array of table tennis facilities 
ranging from the indoor tennis hall, to the hall at the UG Students club 
to the tables provided in various hostels.</pre>
            <br>
        </section>
        <br>

        <section class="grid">
            <h3 class="space">
                Athletics
            </h3>
            <h3 class="tag2"><a class="butn butn-alt bk" href="register.html">Register</a></h3>
            <br>
            <p>About athletics in PEC</p>
            <hr width="68%" align="left">
            <br>
            <pre>400 meter standard track having 8 lanes is available where Annual Athletic 
Meet of the institute is organised. Students do practice of their track & field 
events. Athletic Stadium has a seating capacity of 1000 persons.</pre>
            <br>
        </section>
        <br>
        
        <section class="grid">
            <h3 class="space">
                Football
            </h3>
            <h3 class="tag2"><a class="butn butn-alt bk" href="register.html">Register</a></h3>
            <br>
            <p>About football in PEC</p>
            <hr width="68%" align="left">
            <br>
            <pre>Two Grassy Football grounds are available for practice, matches and 
tournaments.</pre>
            <br>
        </section>
        <br>

        <section class="grid">
            <h3 class="space">
                Chess
            </h3>
            <h3 class="tag2"><a class="butn butn-alt bk" href="register.html">Register</a></h3>
            <br>
            <p>About chess in PEC</p>
            <hr width="68%" align="left">
            <br>
            <pre>The primary motto of the club is to popularise chess as a hobby among the 
campus residents. This club is not only for regular players but for beginners 
too. The club organises workshops on chess by professional players.</pre>
            <br>
        </section>
        <br>

        <section class="grid">
            <h3 class="space">
                Badmint0n
            </h3>
            <h3 class="tag2"><a class="butn butn-alt bk" href="register.html">Register</a></h3>
            <br>
            <p>About badminton in PEC</p>
            <hr width="68%" align="left">
            <br>
            <pre>Two indoor Badminton Courts are available for the practice of college 
Badminton players.</pre>
            <br>
        </section>
        <br>

        <section class="grid">
            <h3 class="space">
                Basketball
            </h3>
            <h3 class="tag2"><a class="butn butn-alt bk" href="register.html">Register</a></h3>
            <br>
            <p>About basketball in PEC</p>
            <hr width="68%" align="left">
            <br>
            <pre>One cemented open Basketball Court having latest fibre glass boards is 
available for practice, matches and tournaments.</pre>
            <br>
        </section>
        <br>
        <br>
        <br>
        <footer class="footer1 can group">
            <small>&copy; Shubham Arya</small>
            <nav class="nav foo">
                &ensp;<a href="main1.html">Home</a>&ensp;
                &ensp;<a href="register.html"> Register </a>&ensp;
                &ensp;<a href="aboutus.html"> About Us </a>&ensp;
                &ensp;<a href="contactus.html"> Contact Us </a>&ensp;
            </nav>
        </footer>
    </body>
</html>