<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>PEC SportoCrats</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'contactus.css' %}">
    </head>
    <body>
        <header class="header1 can group">
            <h1 class="logo">
                <a href="main1.html" ><img src="{%static 'Pec1.png'%}"
                    alt="Image of logo" height="80px" width="125px">&nbspPEC SportoCrats</a>
            </h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h3 class="tag">Chandigarh,India</h3>
            <br>
            <nav class="nav nav1 hi b">
                &emsp;&emsp;&emsp;<a href="main1.html">Home</a>&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;<a href="academics.html">Register</a>&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;<a href="announce.html">Announcements</a>&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;<a href="aboutus.html">About Us</a>&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;<a href="contactus.html">Contact Us</a>&emsp;&emsp;&emsp;
            </nav>
        </header>
        <br>
        <br>
        <br>
        <br>
            
        </section>
        <section class="row">
        	<div class="grid">
                <h1>Contact Information</h1>
                <br>
                <p>You can mail reach us at the given e-mail address or you can reach us by the available hours only.[Mon-Fri 10am-5pm]</p>
                <br>
                <div>
                    <table>
                        <thead>
                            <tr class="red">
                                <th>S.No</th>
                                <th>Department</th>
                                <th>Name</th>
                                <th>Contact</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>Cricket</td>
                                <td>A</td>
                                <td>0124 111111</td>
                                <td>a@pec.edu.in</td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Football</td>
                                <td>B</td>
                                <td>0124 222222</td>
                                <td>b@pec.edu.in</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Table Tennis</td>
                                <td>C</td>
                                <td>0124 333333</td>
                                <td>c@pec.edu.in</td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>Athletics</td>
                                <td>D</td>
                                <td>0124 444444</td>
                                <td>d@pec.edu.in</td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>Basketball</td>
                                <td>E</td>
                                <td>0124 555555</td>
                                <td>e@pec.edu.in</td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>Badminton</td>
                                <td>F</td>
                                <td>0124 666666</td>
                                <td>f@pec.edu.in</td>
                            </tr>
                            <tr>
                                <td>7.</td>
                                <td>Chess</td>
                                <td>G</td>
                                <td>0124 777777</td>
                                <td>g@pec.edu.in</td>
                            </tr>
                        </tbody>
                    </table>  
                </div>
		    </div>  
        </section>
        
        <footer class="footer1 can group">
            <small>&copy; Shubham Arya</small>
            <nav class="nav foo">
                &ensp;<a href="main1.html">Home</a>&ensp;
                &ensp;<a href="register.html"> Register </a>&ensp;
                &ensp;<a href="aboutus.html"> About Us </a>&ensp;
                &ensp;<a href="contactus.html"> Contact Us </a>&ensp;
            </nav>
        </footer>
    </body>
</html>